@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@200;300;400&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;1,200;1,400&family=Poppins:wght@400;500;600&family=Roboto:wght@100;300;400;500;700;900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;

}

body {
    padding: 40px 0;
    min-height: 100vh;
    background: #a395e9;

}

section {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
}

.container {
    background-color: white;
    height: 250px;
    padding: 14px;
    border-radius: 7px;
    transition: .2s linear height;
    width: 410px;
    overflow: hidden;
}

h1 {
    font-weight: unset;
}

.container p {
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 10px;
}

.container input {
    width: 100%;
    margin: 10px 0;
    height: 48px;
    outline: none;
    border: 1px solid #958a8a;
    border-radius: 4px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    letter-spacing: .7px;
    font-size: 20px;
}

input:focus {
    border: 1px solid #3498DB;
}

.container button {
    background: #9aa5ad;
    cursor: pointer;
    border: none;
    height: 50px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 13px;
    border-radius: 4px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    letter-spacing: .7px;
    font-size: 20px;
}

.container img {
    border: 1px solid #0000004d;
    height: 220px;
    width: 220px;
    padding: 20px;
    border-radius: 4px;
}

.qr {
    border-radius: 4px;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 10px;
    opacity: 0;
}

.activ {
    background: #3498DB !important;
}

.qr a {
    display: block;
    background: #3498DB;
    cursor: pointer;
    border: none;
    padding: 10px 0;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 13px;
    border-radius: 4px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    letter-spacing: .7px;
    font-size: 20px;
}

.or {
    font-weight: 600;
    font-size: 28px;
    color: white;
    position: relative;
}

.or::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    color: white;
    background-color: white;
    top: 19px;
    right: -22px;
}

.or::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    color: white;
    background-color: white;
    left: -25px;
    top: 19px;
}

.upload {
    background-color: white;
    height: 250px;
    padding: 24px;
    border-radius: 7px;
    transition: .2s linear height;
    width: 410px;
    overflow: hidden;
    transition: .3s;
}

.upload.show {
    height: 460px;
}

.cloud {
    background: #a395e9;
    color: white;
    border-radius: 5px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.cloud i {
    font-size: 77px;
    margin-bottom: 4px;
}

.cloud p {
    font-weight: 500;
}

textarea {
    display: block;
    resize: none;
    width: 100%;
    margin-top: 38px;
    margin-bottom: 16px;
    height: 125px;
    outline: none;
    border: 1px solid #958a8a;
    border-radius: 4px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    letter-spacing: .7px;
    font-size: 20px;
}

.text div {
    display: flex;
    justify-content: space-between;
}

.text div button {
    width: 45%;
    background-color: #3498DB;
    padding: 9px;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
}

.imgg {
    display: none;
    overflow: hidden;
}

.imgg.activ {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #a395e9 !important;
    cursor: auto;
}

.imgg img {
    width: 45%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    transition: .2s;
}

button:active {
    transform: scale(.96);
}

form {
    display: none;
}

@media (max-width:450px) {
    .container {
        width: 345px;
    }

    h1 {
        font-size: 22px;
    }

    p,
    input {
        font-size: 12px;
    }

    input {
        height: 42px;
    }
}
